<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		
		<setting name="logImpl" value="LOG4J"/>
		<!-- 
			마이바티스의 쿼리문, 파라미터값, 실행결과를 로그를 통해 확인하기 위한 설정 정보
			(실제 운영환경에서는 빼야함)
			VALUE값에는 로그출력 구현객체로 LOG4J라는 클래스를 지정함.
		-->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.zipdream.admin.model.vo.MemberApply" alias="memberApply"/>
		<typeAlias type="com.kh.zipdream.admin.model.vo.NoticeBoard" alias="noticeBoard"/>
		<typeAlias type="com.kh.zipdream.admin.model.vo.Report" alias="report"/>
		<typeAlias type="com.kh.zipdream.admin.model.vo.Coupon" alias="coupon"/>
		<typeAlias type="com.kh.zipdream.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.zipdream.mail.model.vo.MailAuth" alias="mailAuth"/>

		<typeAlias type="com.kh.zipdream.sell.model.vo.SellDetail" alias="sellDetail"/>
		<typeAlias type="com.kh.zipdream.sell.model.vo.SellDetailApi" alias="sellDetailApi"/>
		<typeAlias type="com.kh.zipdream.attachment.model.vo.Attachment" alias="attachment"/>
		<typeAlias type="com.kh.zipdream.sell.model.vo.Board" alias="board"/>
		<typeAlias type="com.kh.zipdream.sell.model.vo.Reply" alias="reply"/>

		<typeAlias type="com.kh.zipdream.chat.model.vo.ChatRoomJoin" alias="chatRoomJoin"/>
		<typeAlias type="com.kh.zipdream.chat.model.vo.ChatRoom" alias="chatRoom"/>
		<typeAlias type="com.kh.zipdream.chat.model.vo.ChatMessage" alias="chatMessage"/>
		
		<typeAlias type="com.kh.zipdream.map.model.vo.beopjeongdong" alias="beopjeongdong"/>
		
		<typeAlias type="com.kh.zipdream.sales.model.vo.MySale" alias="mysale"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mapper/admin-mapper.xml" />
		<mapper resource="/mapper/map-mapper.xml" />
		<mapper resource="/mapper/member-mapper.xml" />
		
		<mapper resource="/mapper/sell-mapper.xml"/>
		<mapper resource="/mapper/board-mapper.xml"/>
		<mapper resource="/mapper/reply-mapper.xml"/>

		<mapper resource="/mapper/chattingMapper.xml" />
		
		<mapper resource="/mapper/sale-mapper.xml" />
		
		<mapper resource="/mapper/myroomsell-mapper.xml" />

	</mappers>

</configuration>