<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin-mapper">	
	
	<resultMap type="member" id="memberResultSet">
		<id column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address"/>
		<result column="OFFICE" property="office"/>
		<result column="ENROLL_DATETIME" property="enrollDateTime" />
		<result column="MODIFY_DATETIME" property="modifyDateTime" />
		<result column="NICKNAME" property="nickname" />
		<result column="STATUS" property="status" />
		<result column="USER_LEVEL" property="userLevel" />
	</resultMap>
	
	<resultMap type="noticeBoard" id="noticeBoardResultSet">
		<id column="NOTICE_BOARD_NO" property="noticeBoardNo"/>
		<result column="NOTICE_BOARD_TITLE" property="noticeBoardTitle"/>
		<result column="NOTICE_BOARD_CONTENT" property="noticeBoardContent"/>
		<result column="CREATE_DATETIME" property="createDateTime"/>
	</resultMap>	
	
	<resultMap type="report" id="reportResultSet">
		<id column="REPORT_NO" property="reportNo"/>
		<result column="REF_RUNO" property="refRuno"/>
		<result column="REF_TUNO" property="refTuno"/>
		<result column="R_NAME" property="rName"/>
		<result column="T_NAME" property="tName"/>
		<result column="REPORT_CONTENT" property="reportContent"/>
		<result column="REPORT_STATUS" property="reportStatus"/>
		<result column="REPORT_RESULT" property="reportResult"/>
		<result column="REPORT_TYPE" property="reportType"/>
		<result column="REPORT_DATE" property="reportDate"/>
	</resultMap>	
	
	<resultMap type="coupon" id="couponResultSet">
		<result column="COUPON_NO" property="couponNo"/>
		<result column="COUPON_TITLE" property="couponTitle"/>
		<result column="COUPON_CONTENT" property="couponContent"/>
		<result column="COUPON_DATE" property="couponDate"/>
		<result column="COUPON_PATH" property="couponPath"/>
	</resultMap>
	
	<resultMap type="attachment" id="attachmentResultSet">
		<result column="ATTACHMENT_NO" property="attachmentNo"/>
		<result column="REF_UNO" property="refUno"/>
		<result column="REF_SNO" property="refSno"/>
		<result column="ORIGIN_FILE" property="originFile"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
	</resultMap>
	
	<resultMap type="sellDetail" id="sellDetailResultSet">
 		<result column="SELL_NO" property="sellNo"/>
 		<result column="REF_UNO" property="refUno"/>
 		<result column="SELL_NAME" property="sellName"/>
 		<result column="SELL_ADDRESS" property="sellAddress"/>
 		<result column="SELL_PRICE" property="sellPrice"/>
 		<result column="SELL_MAINTENANCE" property="sellMaintenance"/>
 		<result column="SELL_PARKING" property="sellParking"/>
 		<result column="SELL_SHORTTERM" property="sellShortterm"/>
 		<result column="SELL_TYPE" property="sellType"/>
 		<result column="SELL_FLOOR" property="sellFloor"/>
 		<result column="SELL_PRIVATE_AREA" property="sellPrivateArea"/>
 		<result column="SELL_PROVIDE_AREA" property="sellProvideArea"/>
 		<result column="SELL_ALL_FLOOR" property="sellAllFloor"/>
 		<result column="SELL_ROOM_COUNT" property="sellRoomCount"/>
 		<result column="SELL_TOILET_COUNT" property="sellToiletCount"/>
 		<result column="SELL_WAY" property="sellWay"/>
 		<result column="SELL_HOUSEHOLD" property="sellHousehold"/>
 		<result column="SELL_ENTRANCE" property="sellEntrance"/>
 		<result column="SELL_MOVE_DATE" property="sellMoveDatetime"/>
 		<result column="SELL_INSTALLATION" property="sellInstallation"/>
 		<result column="SELL_AIRCONTITION" property="sellAircondition"/>
 		<result column="SELL_HEATING" property="sellHeating"/>
 		<result column="PARKING_COUNT" property="parkingCount"/>
 		<result column="SELL_APPROVAL_DATE" property="sellApprovalDatetime"/>
 		<result column="SELL_ENROLL_DATE" property="sellEnrollDatetime"/>
 		<result column="COMPLEX_APPLY_DATE" property="complexApplyDatetime"/>
 		<result column="WING_COUNT" property="wingCount"/>
 		<result column="HOUSEHOLD_COUNT" property="householdCount"/>
 		<result column="OPTION" property="option"/>
 		<result column="SECURITY" property="security"/>
 		<result column="CREATE_DATE" property="createDate"/>
 		<result column="MODIRY_DATE" property="modifyDate"/>
 		
 	</resultMap>
	
	<select id="countUser" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE USER_LEVEL = 1 
		<if test='type == 1'>
			AND STATUS = 'Y'
		</if>
	</select>
	
	<select id="countUserYesterday" resultType="_int">
		SELECT COUNT(*) FROM MEMBER 
		<![CDATA[WHERE USER_LEVEL = 1 AND STATUS = 'Y' AND ENROLL_DATETIME < CURDATE()]]>
	</select>
	
	<select id="selectBkSearchCount" parameterType="HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_LEVEL = 2 AND WITHDRAW = 'N'
		 	<if test='keyword != null and keyword != ""'>
			  	AND
				  <choose>
					<when test='condition.equals("name")'> USER_NAME LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("id")'> USER_ID LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
				  </choose>
			 </if>
	</select>
	
	<select id="countBkUser" resultType="_int">
		SELECT COUNT(*) FROM MEMBER 
		WHERE USER_LEVEL = 2
				AND WITHDRAW = 'N'
	</select>
	
	<select id="countLicenseUser" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE USER_LEVEL = 2
		<if test='type == 1'>
			AND WITHDRAW = 'Y' AND STATUS = 'Y'
		</if>
	</select>
	
	<select id="countLicenseUserYesterday" resultType="_int">
		SELECT COUNT(*) FROM MEMBER 
		<![CDATA[WHERE USER_LEVEL = 2 AND STATUS = 'Y' AND WITHDRAW = 'Y' AND ENROLL_DATETIME < CURDATE()]]>
	</select>
	
	<select id="countObject" resultType="_int">
		SELECT COUNT(*) FROM SELLDETAIL
	</select>
	
	<select id="countObjectYesterday" resultType="_int">
		SELECT COUNT(*) FROM SELLDETAIL
		<![CDATA[WHERE SELL_ENROLL_DATE < CURDATE()]]>
	</select>
	
	<select id="countObjectSearch" parameterType="HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM SELLDETAIL
		 	<if test='keyword != null and keyword != ""'>
			  	WHERE
				  <choose>
					<when test='condition.equals("name")'> SELL_NAME LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("address")'> SELL_ADDRESS LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("price")'> SELL_PRICE >= LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
				  </choose>
			 </if>
	</select>
	
	<select id="countReport" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM REPORT 
		<if test='type == 1'>
			WHERE REPORT_STATUS = 'N'
		</if>
	</select>
	
	<select id="countUserReport" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE 
		<choose>
				<when test='type == 1'> REF_RUNO = #{userNo}  </when>
		    	<when test='type == 2'> REF_TUNO = #{userNo}  </when>
    	</choose>
	</select>
	
	<select id="countUserCoupon" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM USER_COUPON WHERE USER_NO = #{userNo}
	</select>
	
	<select id="countReportYesterday" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE REPORT_STATUS = 'N'
		<![CDATA[AND REPORT_DATE < CURDATE()]]>
	</select>
	
	<select id="countEvent" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_BOARD
	</select>
	
	<select id="countEventYesterday" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_BOARD 
		<![CDATA[WHERE CREATE_DATETIME < CURDATE()]]>
	</select>
	
	<select id="countChatRoom" resultType="_int">
		SELECT COUNT(*) FROM CHAT_ROOM WHERE STATUS = 'Y'
	</select>
	
	<select id="countChattingRoom" resultType="_int">
		SELECT COUNT(*) FROM (
			SELECT CHAT_ROOM_NO , COUNT(*) as 'COUNT' , R.STATUS
			FROM CHAT_ROOM_JOIN 
			JOIN CHAT_ROOM R USING(CHAT_ROOM_NO) 
			GROUP BY CHAT_ROOM_NO HAVING R.STATUS = 'Y'
		) C 
		WHERE COUNT > 1
	</select>
	
	<select id="selectApplyListLimit5" parameterType="_int" resultMap="memberResultSet">
		SELECT USER_NO, USER_NAME, ENROLL_DATETIME 
		FROM MEMBER
		WHERE WITHDRAW='N'
		ORDER BY ENROLL_DATETIME DESC
		<if test='type == 1'>
		LIMIT 5
		</if>
	</select>
	
	<select id="selectReportList" resultMap="reportResultSet">
		SELECT REPORT_NO,
			   REF_RUNO,
			   REF_TUNO,
			   M.USER_NAME AS R_NAME,
			   M2.USER_NAME AS T_NAME,
			   REPORT_CONTENT,
			   REPORT_STATUS,
			   REPORT_RESULT,
			   REPORT_TYPE,
			   REPORT_DATE
		FROM REPORT R LEFT JOIN MEMBER M
		ON R.REF_RUNO = M.USER_NO
        LEFT JOIN MEMBER M2
        ON R.REF_TUNO = M2.USER_NO
        ORDER BY REPORT_DATE DESC
        <if test='type == 1'>
			 LIMIT 5
		</if>
	</select>
	
	<select id="countNoticeBoard" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_BOARD
	</select>
	
	<select id="selectNoticeBoardList" resultMap="noticeBoardResultSet">
		SELECT 
			NOTICE_BOARD_NO, 
			NOTICE_BOARD_TITLE, 
			<![CDATA[REGEXP_REPLACE(NOTICE_BOARD_CONTENT,'<[^>]+>','') AS NOTICE_BOARD_CONTENT]]>,
			CREATE_DATETIME
		FROM NOTICE_BOARD ORDER BY CREATE_DATETIME DESC
	</select>
	
	<select id="selectNoticeList" resultMap="noticeBoardResultSet">
		SELECT *
		FROM USER.NOTICE_BOARD 
		ORDER BY CREATE_DATETIME DESC
	</select>
	
	<insert id="insertNoticeBoard" parameterType="noticeBoard">
		INSERT INTO NOTICE_BOARD (NOTICE_BOARD_TITLE, NOTICE_BOARD_CONTENT, CREATE_DATETIME)
		VALUES (#{noticeBoardTitle},#{noticeBoardContent},SYSDATE())
	</insert>
	
	<update id="updateNoticeBoard" parameterType="noticeBoard">
		UPDATE NOTICE_BOARD SET 
			 NOTICE_BOARD_TITLE = #{noticeBoardTitle},
			 NOTICE_BOARD_CONTENT = #{noticeBoardContent}			
		WHERE NOTICE_BOARD_NO = #{noticeBoardNo}
			
	</update>
	
	<select id="selectNoticeBoard" resultMap="noticeBoardResultSet">
		SELECT * FROM NOTICE_BOARD WHERE NOTICE_BOARD_NO = #{boardNo}
	</select>
	
	<delete id="deleteNoticeBoard">
		DELETE FROM NOTICE_BOARD WHERE NOTICE_BOARD_NO = #{boardNo}
	</delete>
	
	<select id="selectUserList" parameterType="_int" resultMap="memberResultSet">
		SELECT * FROM MEMBER 
		WHERE USER_LEVEL = #{type}
		<if test='type == 2'>
			AND WITHDRAW = 'Y'
		</if>
		ORDER BY ENROLL_DATETIME DESC
	</select>
	
	<select id="selectUserSearchCount" parameterType="HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_LEVEL = #{type}
		 	<if test='keyword != null and keyword != ""'>
			  	AND
				  <choose>
					<when test='condition.equals("name")'> USER_NAME LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("id")'> USER_ID LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
				  </choose>
			 </if>
	</select>
	
	<select id="selectUserSearch" parameterType="HashMap" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USER_LEVEL = #{type}
			<if test='type == 2'>
				AND WITHDRAW = 'Y'
			</if>
		 	<if test='keyword != null and keyword != ""'>
			  	AND
				  <choose>
					<when test='condition.equals("name")'> USER_NAME LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("id")'> USER_ID LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
				  </choose>
			 </if>
		ORDER BY ENROLL_DATETIME DESC
	</select>
	
	<select id="selectBkList" parameterType="_int" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE USER_LEVEL = 2 AND WITHDRAW = 'N'
		ORDER BY ENROLL_DATETIME DESC
	</select>
	
	<select id="selectBkSearch" parameterType="HashMap" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USER_LEVEL = 2 AND WITHDRAW = 'N'
		 	<if test='keyword != null and keyword != ""'>
			  	AND
				  <choose>
					<when test='condition.equals("name")'> USER_NAME LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("id")'> USER_ID LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
				  </choose>
			 </if>
		ORDER BY ENROLL_DATETIME DESC
	</select>
	
	<select id="getReportList" parameterType="hashMap" resultMap="reportResultSet">
		SELECT REPORT_NO,
			   REF_RUNO,
			   REF_TUNO,
			   M.USER_NAME AS R_NAME,
			   M2.USER_NAME AS T_NAME,
			   REPORT_CONTENT,
			   REPORT_STATUS,
			   REPORT_RESULT,
			   REPORT_TYPE,
			   REPORT_DATE
		FROM REPORT R LEFT JOIN MEMBER M
		ON R.REF_RUNO = M.USER_NO
        LEFT JOIN MEMBER M2
        ON R.REF_TUNO = M2.USER_NO
		WHERE 
		<choose>
				<when test='type == 1'> REF_RUNO = #{userNo}  </when>
		    	<when test='type == 2'> REF_TUNO = #{userNo}  </when>
    	</choose>
		ORDER BY REPORT_DATE DESC
	</select>
	
	<select id="getCouponList" parameterType="_int" resultMap="couponResultSet">
		SELECT * FROM USER_COUPON U LEFT JOIN COUPON C ON U.COUPON_NO = C.COUPON_NO
		WHERE U.USER_NO = #{userNo}
	</select>
	
	<select id="selectReport" resultMap="reportResultSet">
		SELECT * FROM REPORT WHERE REPORT_NO = #{reportNo}
	</select>
	
	<update id="updateReportResult" parameterType="report">
		UPDATE REPORT SET
			REPORT_STATUS = 'Y',
			REPORT_RESULT = #{reportResult}
		WHERE REPORT_NO = #{reportNo}
	</update>
	
	<update id="updateMemberStatus" parameterType="member">
		UPDATE MEMBER SET 
			 STATUS = #{status}		
		WHERE USER_NO = #{userNo}
	</update>
	
	<insert id="insertCoupon" parameterType="coupon">
		INSERT INTO COUPON (COUPON_TITLE,COUPON_CONTENT,COUPON_DATE,COUPON_PATH)
		VALUES(#{couponTitle},#{couponContent},#{couponDate},#{couponPath})
	</insert>
	
	<select id="selectCouponList" resultMap="couponResultSet">
		SELECT * FROM COUPON
	</select>
	
	<insert id="insertCouponToUser" parameterType="hashMap">
		INSERT INTO USER_COUPON
		VALUES(#{userNo},#{couponNo})
	</insert>
	
	<select id="selectAttachmentList" parameterType="_int" resultMap="attachmentResultSet">
		SELECT * FROM ATTACHMENT WHERE REF_UNO = #{userNo}
	</select>
	
	<update id="acceptBkMember" parameterType="_int">
		UPDATE MEMBER SET 
			 WITHDRAW = 'Y',
			 MODIFY_DATETIME = SYSDATE()
		WHERE USER_NO = #{userNo}
	</update>
	
	<select id="selectSellDetailList" parameterType="_int" resultMap="sellDetailResultSet">
		SELECT * FROM SELLDETAIL ORDER BY CREATE_DATE DESC
	</select>
	
	<select id="selectSellDetailSearch" parameterType="HashMap" resultMap="sellDetailResultSet">
		SELECT *
		FROM SELLDETAIL
		 	<if test='keyword != null and keyword != ""'>
			  	WHERE
				  <choose>
					<when test='condition.equals("name")'> SELL_NAME LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("address")'> SELL_ADDRESS LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("price")'> SELL_PRICE LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
				  </choose>
			 </if>
		ORDER BY CREATE_DATE DESC
	</select>
	
	<delete id="deleteSellDetail" parameterType="_int">
		DELETE FROM SELLDETAIL WHERE SELL_NO = #{sellNo}
	</delete>
</mapper>
