<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin-mapper">
	
	<resultMap type="memberApply" id="memberApplyResultSet">
		<result column="USER_NAME" property="userName"/>
		<result column="APPLY_DATETIME" property="applyDateTime"/>
	</resultMap>	
	
	<resultMap type="member" id="memberResultSet">
		<id column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address"/>
		<result column="OFFICE" property="office"/>
		<result column="ENROLL_DATETIME" property="enrollDateTime" />
		<result column="MODIFY_DATETIME" property="modifyDateTime" />
		<result column="NICKNAME" property="nickname" />
		<result column="STATUS" property="status" />
		<result column="USER_LEVEL" property="userLevel" />
	</resultMap>
	
	<resultMap type="noticeBoard" id="noticeBoardResultSet">
		<id column="NOTICE_BOARD_NO" property="noticeBoardNo"/>
		<result column="NOTICE_BOARD_TITLE" property="noticeBoardTitle"/>
		<result column="NOTICE_BOARD_CONTENT" property="noticeBoardContent"/>
		<result column="CREATE_DATETIME" property="createDateTime"/>
	</resultMap>	
	
	<resultMap type="report" id="reportResultSet">
		<id column="REPORT_NO" property="reportNo"/>
		<result column="REF_RUNO" property="refRuno"/>
		<result column="REF_TUNO" property="refTuno"/>
		<result column="R_NAME" property="rName"/>
		<result column="T_NAME" property="tName"/>
		<result column="REPORT_CONTENT" property="reportContent"/>
		<result column="REPORT_STATUS" property="reportStatus"/>
		<result column="REPORT_RESULT" property="reportResult"/>
		<result column="REPORT_TYPE" property="reportType"/>
		<result column="REPORT_DATE" property="reportDate"/>
	</resultMap>	
	
	<select id="countUser" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE USER_LEVEL = 1 
		<if test='type == 1'>
			AND STATUS = 'Y'
		</if>
	</select>
	
	<select id="countUserYesterday" resultType="_int">
		SELECT COUNT(*) FROM MEMBER 
		<![CDATA[WHERE USER_LEVEL = 1 AND STATUS = 'Y' AND ENROLL_DATETIME < CURDATE()]]>
	</select>
	
	<select id="countLicenseUser" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE USER_LEVEL = 2
		<if test='type == 1'>
			AND STATUS = 'Y'
		</if>
	</select>
	
	<select id="countLicenseUserYesterday" resultType="_int">
		SELECT COUNT(*) FROM MEMBER 
		<![CDATA[WHERE USER_LEVEL = 2 AND STATUS = 'Y' AND ENROLL_DATETIME < CURDATE()]]>
	</select>
	
	<select id="countObject" resultType="_int">
		SELECT COUNT(*) FROM SELLDETAIL
	</select>
	
	<select id="countObjectYesterday" resultType="_int">
		SELECT COUNT(*) FROM SELLDETAIL
		<![CDATA[WHERE SELL_ENROLL_DATETIME < CURDATE()]]>
	</select>
	
	<select id="countReport" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE REPORT_STATUS = 'N'
	</select>
	
	<select id="countUserReport" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE 
		<choose>
				<when test='type == 1'> REF_RUNO = #{userNo}  </when>
		    	<when test='type == 2'> REF_TUNO = #{userNo}  </when>
    	</choose>
	</select>
	
	<select id="countReportYesterday" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE REPORT_STATUS = 'N'
		<![CDATA[AND REPORT_DATE < CURDATE()]]>
	</select>
	
	<select id="countEvent" resultType="_int">
		SELECT COUNT(*) FROM PROMOTION
	</select>
	
	<select id="countEventYesterday" resultType="_int">
		SELECT COUNT(*) FROM PROMOTION 
		<![CDATA[WHERE PROMOTION_START_DATETIME < CURDATE()]]>
	</select>
	
	<select id="countChatRoom" resultType="_int">
		SELECT COUNT(*) FROM CHAT_ROOM WHERE STATUS = 'Y'
	</select>
	
	<select id="countChattingRoom" resultType="_int">
		SELECT COUNT(*) FROM (
			SELECT CHAT_ROOM_NO , COUNT(*) as 'COUNT' , 'STATUS' 
			FROM CHAT_ROOM_JOIN 
			JOIN CHAT_ROOM USING(CHAT_ROOM_NO) 
			GROUP BY CHAT_ROOM_NO HAVING STATUS = 'Y'
		) C 
		WHERE COUNT > 1
	</select>
	
	<select id="selectApplyListLimit5" resultMap="memberApplyResultSet">
		SELECT USER_NAME, APPLY_DATETIME 
		FROM MEMBER_APPLY 
		JOIN MEMBER ON(USER_NO = REF_UNO) 
		WHERE STATUS='N'
		ORDER BY APPLY_DATETIME DESC LIMIT 5
	</select>
	
	<select id="countNoticeBoard" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_BOARD
	</select>
	
	<select id="selectNoticeBoardList" resultMap="noticeBoardResultSet">
		SELECT 
			NOTICE_BOARD_NO, 
			NOTICE_BOARD_TITLE, 
			<![CDATA[REGEXP_REPLACE(NOTICE_BOARD_CONTENT,'<[^>]+>','') AS NOTICE_BOARD_CONTENT]]>,
			CREATE_DATETIME
		FROM NOTICE_BOARD ORDER BY CREATE_DATETIME DESC
	</select>
	
	<select id="selectNoticeList" resultMap="noticeBoardResultSet">
		SELECT *
		FROM USER.NOTICE_BOARD 
		ORDER BY CREATE_DATETIME DESC
	</select>
	
	<insert id="insertNoticeBoard" parameterType="noticeBoard">
		INSERT INTO NOTICE_BOARD (NOTICE_BOARD_TITLE, NOTICE_BOARD_CONTENT, CREATE_DATETIME)
		VALUES (#{noticeBoardTitle},#{noticeBoardContent},SYSDATE())
	</insert>
	
	<update id="updateNoticeBoard" parameterType="noticeBoard">
		UPDATE NOTICE_BOARD SET 
			 NOTICE_BOARD_TITLE = #{noticeBoardTitle},
			 NOTICE_BOARD_CONTENT = #{noticeBoardContent}			
		WHERE NOTICE_BOARD_NO = #{noticeBoardNo}
			
	</update>
	
	<select id="selectNoticeBoard" resultMap="noticeBoardResultSet">
		SELECT * FROM NOTICE_BOARD WHERE NOTICE_BOARD_NO = #{boardNo}
	</select>
	
	<delete id="deleteNoticeBoard">
		DELETE FROM NOTICE_BOARD WHERE NOTICE_BOARD_NO = #{boardNo}
	</delete>
	
	<select id="selectUserList" parameterType="_int" resultMap="memberResultSet">
		SELECT * FROM MEMBER WHERE USER_LEVEL = #{type}
		ORDER BY ENROLL_DATETIME DESC
	</select>
	
	<select id="selectUserSearchCount" parameterType="HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_LEVEL = #{type}
		 	<if test='keyword != null and keyword != ""'>
			  	AND
				  <choose>
					<when test='condition.equals("name")'> USER_NAME LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("id")'> USER_ID LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
				  </choose>
			 </if>
	</select>
	
	<select id="selectUserSearch" parameterType="HashMap" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USER_LEVEL = #{type}
		 	<if test='keyword != null and keyword != ""'>
			  	AND
				  <choose>
					<when test='condition.equals("name")'> USER_NAME LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
			    	<when test='condition.equals("id")'> USER_ID LIKE  CONCAT(CONCAT('%',#{keyword}),'%')  </when>
				  </choose>
			 </if>
		ORDER BY ENROLL_DATETIME DESC
	</select>
	
	<select id="getReportList" parameterType="hashMap" resultMap="reportResultSet">
		SELECT REPORT_NO,
			   REF_RUNO,
			   REF_TUNO,
			   M.USER_NAME AS R_NAME,
			   M2.USER_NAME AS T_NAME,
			   REPORT_CONTENT,
			   REPORT_STATUS,
			   REPORT_RESULT,
			   REPORT_TYPE,
			   REPORT_DATE
		FROM REPORT R LEFT JOIN MEMBER M
		ON R.REF_RUNO = M.USER_NO
        LEFT JOIN MEMBER M2
        ON R.REF_TUNO = M2.USER_NO
		WHERE 
		<choose>
				<when test='type == 1'> REF_RUNO = #{userNo}  </when>
		    	<when test='type == 2'> REF_TUNO = #{userNo}  </when>
    	</choose>
		ORDER BY REPORT_DATE DESC;
	</select>
	
	<update id="updateMemberStatus" parameterType="member">
		UPDATE MEMBER SET 
			 STATUS = #{status}		
		WHERE USER_NO = #{userNo}
	</update>
</mapper>
