<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin-mapper">
	
	<resultMap type="memberApply" id="memberApplyResultSet">
		<result column="USER_NAME" property="userName"/>
		<result column="APPLY_DATETIME" property="applyDateTime"/>
	</resultMap>	
	
	<resultMap type="noticeBoard" id="noticeBoardResultSet">
		<id column="NOTICE_BOARD_NO" property="noticeBoardNo"/>
		<result column="NOTICE_BOARD_TITLE" property="noticeBoardTitle"/>
		<result column="NOTICE_BOARD_CONTENT" property="noticeBoardContent"/>
		<result column="CREATE_DATETIME" property="createDateTime"/>
	</resultMap>	
	
	<select id="countUser" resultType="_int">
		SELECT COUNT(*) FROM USER.MEMBER WHERE LICENSE_INT IS NULL AND STATUS = 'Y'
	</select>
	
	<select id="countUserYesterday" resultType="_int">
		SELECT COUNT(*) FROM USER.MEMBER 
		<![CDATA[WHERE LICENSE_INT IS NULL AND STATUS = 'Y' AND ENROLL_DATETIME <= (CURDATE() - INTERVAL 1 DAY)]]>
	</select>
	
	<select id="countLicenseUser" resultType="_int">
		SELECT COUNT(*) FROM USER.MEMBER WHERE LICENSE_INT IS NOT NULL AND STATUS = 'Y'
	</select>
	
	<select id="countLicenseUserYesterday" resultType="_int">
		SELECT COUNT(*) FROM USER.MEMBER 
		<![CDATA[WHERE LICENSE_INT IS NOT NULL AND STATUS = 'Y' AND ENROLL_DATETIME <= (CURDATE() - INTERVAL 1 DAY)]]>
	</select>
	
	<select id="countObject" resultType="_int">
		SELECT COUNT(*) FROM USER.selldetail
	</select>
	
	<select id="countObjectYesterday" resultType="_int">
		SELECT COUNT(*) FROM USER.selldetail 
		<![CDATA[WHERE SELL_ENROLL_DATETIME <= (CURDATE() - INTERVAL 1 DAY)]]>
	</select>
	
	<select id="countReport" resultType="_int">
		SELECT COUNT(*) FROM USER.REPORT WHERE REPORT_STATUS = 'N'
	</select>
	
	<!-- <select id="countReportYesterday">
		SELECT COUNT(*) FROM USER.REPORT WHERE REPORT_STATUS = 'N' AND
	</select> -->
	
	<select id="countEvent" resultType="_int">
		SELECT COUNT(*) FROM USER.PROMOTION
	</select>
	
	<select id="countEventYesterday" resultType="_int">
		SELECT COUNT(*) FROM USER.PROMOTION 
		<![CDATA[WHERE PROMOTION_START_DATETIME <= (CURDATE() - INTERVAL 1 DAY)]]>
	</select>
	
	<select id="countChatRoom" resultType="_int">
		SELECT COUNT(*) FROM USER.CHAT_ROOM WHERE STATUS = 'Y'
	</select>
	
	<select id="countChattingRoom" resultType="_int">
		SELECT COUNT(*) FROM (
			SELECT CHAT_ROOM_NO , COUNT(*) as 'COUNT' , 'STATUS' 
			FROM USER.CHAT_ROOM_JOIN 
			JOIN USER.CHAT_ROOM USING(CHAT_ROOM_NO) 
			GROUP BY CHAT_ROOM_NO HAVING STATUS = 'Y'
		) C 
		WHERE COUNT > 1
	</select>
	
	<select id="selectApplyListLimit5" resultMap="memberApplyResultSet">
		SELECT USER_NAME, APPLY_DATETIME 
		FROM USER.MEMBER_APPLY 
		JOIN USER.MEMBER ON(USER_NO = REF_UNO) 
		ORDER BY APPLY_DATETIME DESC LIMIT 5
	</select>
	
	<select id="countNoticeBoard" resultType="_int">
		SELECT COUNT(*) FROM USER.NOTICE_BOARD
	</select>
	
	<select id="selectNoticeBoardList" resultMap="noticeBoardResultSet">
		SELECT 
			NOTICE_BOARD_NO, 
			NOTICE_BOARD_TITLE, 
			<![CDATA[replace(MID(NOTICE_BOARD_CONTENT,1,15),'<p>','') AS NOTICE_BOARD_CONTENT]]>,
			CREATE_DATETIME
		FROM USER.NOTICE_BOARD ORDER BY CREATE_DATETIME DESC
	</select>
	
		<select id="selectNoticeList" resultMap="noticeBoardResultSet">
		SELECT *
		FROM USER.NOTICE_BOARD 
		ORDER BY CREATE_DATETIME DESC
	</select>
	
	<insert id="insertNoticeBoard" parameterType="noticeBoard">
		INSERT INTO USER.NOTICE_BOARD (NOTICE_BOARD_TITLE, NOTICE_BOARD_CONTENT, CREATE_DATETIME)
		VALUES (#{noticeBoardTitle},#{noticeBoardContent},SYSDATE())
	</insert>
	
	<update id="updateNoticeBoard" parameterType="noticeBoard">
		UPDATE USER.NOTICE_BOARD SET 
			 NOTICE_BOARD_TITLE = #{noticeBoardTitle},
			 NOTICE_BOARD_CONTENT = #{noticeBoardContent}			
		WHERE NOTICE_BOARD_NO = #{noticeBoardNo}
			
	</update>
	
	<select id="selectNoticeBoard" resultMap="noticeBoardResultSet">
		SELECT * FROM USER.NOTICE_BOARD WHERE NOTICE_BOARD_NO = #{boardNo}
	</select>
	
	<delete id="deleteNoticeBoard">
		DELETE FROM USER.NOTICE_BOARD WHERE NOTICE_BOARD_NO = #{boardNo}
	</delete>
</mapper>
