<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member-mapper">
	
	<resultMap type="member" id="memberResultSet">
		<id column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address"/>
		<result column="OFFICE" property="office"/>
		<result column="ENROLL_DATE_TIME" property="enrollDateTime" />
		<result column="MODIFY_DATE_TIME" property="modifyDateTime" />
		<result column="NICKNAME" property="nickname" />
		<result column="STATUS" property="status" />
		<result column="USER_LEVEL" property="userLevel" />
	</resultMap>
	
	

	<select id="loginMember" parameterType="member"
		resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = #{userId} AND USER_PWD = #{userPwd}
	</select>
	
<!-- 일반고객 회원가입 -->
	<!-- <insert id="insertMember" parameterType="member">
		INSERT INTO
		MEMBER(USER_NO
			, USER_ID
			, USER_PWD
			, USER_NAME
			, EMAIL)
		VALUES(SEQ_UNO.NEXTVAL
			, #{userId}
			, #{userPwd}
			, #{userName}
			, #{email}
			, 1)
	</insert>  -->
	
	
</mapper>
