<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myroomsell-mapper">

	<resultMap type="member" id="memberResultSet">
		<id column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email" />
		<result column="ADDRESS" property="address"/>
		<result column="OFFICE" property="office"/>

		<result column="ENROLL_DATE_TIME" property="enrollDateTime" />
		<result column="MODIFY_DATE_TIME" property="modifyDateTime" />
		<result column="WITHDRAW" property="withdraw" />

		
		<result column="STATUS" property="status" />
		<result column="USER_LEVEL" property="userLevel" />
	</resultMap>
	
	<resultMap type="myroomsell" id="myroomsellResultSet">
		<id column="USER_SR_NO" property="userSrNo" />
		<result column="REF_UNO" property="refUno" />
		<result column="REF_RUNO" property="refRuno" />
		<result column="ROOM_TYPE" property="roomType" />
		<result column="BUILDING_TYPE" property="buildingType" />
		<result column="ADDRESS" property="address" />
		<result column="DEAL_TYPE" property="dealType" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<resultMap type="coupon" id="couponResultSet">
		<result column="COUPON_NO" property="couponNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="COUPON_TITLE" property="couponTitle"/>
		<result column="COUPON_CONTENT" property="couponContent"/>
		<result column="COUPON_DATE" property="couponDate"/>
		<result column="COUPON_PATH" property="couponPath"/>
	</resultMap>


	<select id="selectAgent" parameterType="hashmap" resultMap="memberResultSet">
		SELECT * FROM MEMBER
		WHERE USER_LEVEL = '2' AND STATUS = 'Y'
		AND
		<foreach collection="address" item="arr" open="(" close=")" separator="or">
			ADDRESS LIKE CONCAT('%', #{arr}, '%') 
		</foreach>
	</select>
	
	<insert id="myroomSellInsert" parameterType="myroomsell" useGeneratedKeys="true" keyProperty="userSrNo">
		INSERT INTO USER_ROOM_SELL(
			REF_UNO,
			REF_RUNO,
			ROOM_TYPE,
			BUILDING_TYPE,
			ADDRESS,
			DEAL_TYPE
		) VALUES(
			#{refUno},
			#{refRuno},
			#{roomType},
			#{buildingType},
			#{address},
			#{dealType}
		)
		
	</insert>
	
	<select id="selectMyRoomListCount" resultType="int">
		SELECT COUNT(*) 
		FROM USER_ROOM_SELL
		WHERE REF_UNO = #{userNo}
		
	</select>
	
	<select id="selectMyRoomList" resultMap="myroomsellResultSet">
		SELECT * 
		FROM USER_ROOM_SELL
		WHERE REF_UNO = #{userNo}
	</select>
	
	<delete id="myroomSellDelete">
		DELETE FROM USER_ROOM_SELL
		WHERE USER_SR_NO=#{userSrNo}
	</delete> 
	
	<select id="selectCouponList" resultMap="couponResultSet">
		SELECT *
		FROM USER_COUPON
		JOIN COUPON USING(COUPON_NO)
		WHERE USER_NO = #{userNo}
	</select>
	
	
</mapper>