<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sale-mapper">
	
	<resultMap type="mysale" id="mysaleResultSet">
		<id column="HS_SEQ" property="hsSeq" />
		<result column="START_DATE" property="startDateTime" />
		<result column="REF_UNO" property="userNo" />
		<result column="HN_NO" property="houseCode" />
		<result column="HS_URL" property="hsUrl" />
	</resultMap>
	
	<resultMap type="calender" id="calenderResultSet">
		<result column="CALENDER_NO" property="calenderNo"/>
		<result column="CALENDER_TITLE" property="calenderTitle"/>
		<result column="CALENDER_MEMO" property="calenderMemo"/>
		<result column="URL" property="url"/>
		<result column="CALENDER_START" property="calenderStart"/>
		<result column="CALENDER_END" property="calenderEnd"/>
	</resultMap>



	<insert id="insertMysaleHouse" parameterType="mysale">
		INSERT INTO HOUSESELL_SELECT(START_DATE, REF_UNO, HN_NO, HS_URL)
		VALUES(#{startDateTime}, #{userNo}, #{houseCode}, #{hsUrl})
	</insert>
	
	<select id="selectMySale" resultType="int">
		SELECT HN_NO FROM HOUSESELL_SELECT WHERE REF_UNO = #{userNo}
	</select>
	
	<delete id="deleteMysaleHouse">
		DELETE FROM HOUSESELL_SELECT WHERE REF_UNO = #{userNo} AND HN_NO = #{houseCode}
	</delete>
	
	<select id="selectCalender" resultMap="calenderResultSet">
		SELECT * FROM SALEHOUSE_CALENDER
	</select>
	
	<select id="selectinfoList" resultMap="calenderResultSet">
		SELECT * 
		FROM SALEHOUSE_CALENDER
		WHERE CALENDER_START = #{calenderStart}
	</select>


</mapper>