<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sale-mapper">
	
	<resultMap type="mysale" id="mysaleResultSet">
		<id column="HS_SEQ" property="hsSeq" />
		<result column="START_DATE" property="startDateTime" />
		<result column="REF_UNO" property="userNo" />
		<result column="HN_NO" property="houseCode" />
		<result column="HS_URL" property="hsUrl" />
	</resultMap>



	<insert id="insertMysaleHouse" parameterType="mysale">
		INSERT INTO HOUSESELL_SELECT(START_DATE, REF_UNO, HN_NO, HS_URL)
		VALUES(#{startDateTime}, #{userNo}, #{houseCode}, #{hsUrl})
	</insert>
	
	<select id="selectMySale" resultType="int">
		SELECT HN_NO FROM HOUSESELL_SELECT WHERE REF_UNO = #{userNo}
	</select>
	
	<delete id="deleteMysaleHouse">
		DELETE FROM HOUSESELL_SELECT WHERE REF_UNO = #{userNo} AND HN_NO = #{houseCode}
	</delete>


</mapper>