<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sell-mapper">
 	
 	<resultMap type="sellDetail" id="sellResultSet">
 		<result column="SELL_NO" property="sellNo"/>
 		<result column="REF_UNO" property="refUno"/>
 		<result column="SELL_NAME" property="sellName"/>
 		<result column="SELL_TYPE" property="sellType"/>
 		<result column="CREATE_DATE" property="createDate"/>
 	</resultMap>
 	
 	<resultMap type="sellDetail" id="sellDetailResultSet">
 		<result column="SELL_NO" property="sellNo"/>
 		<result column="REF_UNO" property="refUno"/>
 		<result column="SELL_NAME" property="sellName"/>
 		<result column="SELL_ADDRESS" property="sellAddress"/>
 		<result column="SELL_PRICE" property="sellPrice"/>
 		<result column="SELL_MAINTENANCE" property="sellMaintenance"/>
 		<result column="SELL_PARKING" property="sellParking"/>
 		<result column="SELL_SHORTTERM" property="sellShortterm"/>
 		<result column="SELL_TYPE" property="sellType"/>
 		<result column="SELL_FLOOR" property="sellFloor"/>
 		<result column="SELL_PRIVATE_AREA" property="sellPrivateArea"/>
 		<result column="SELL_PROVIDE_AREA" property="sellProvideArea"/>
 		<result column="SELL_ALL_FLOOR" property="sellAllFloor"/>
 		<result column="SELL_ROOM_COUNT" property="sellRoomCount"/>
 		<result column="SELL_TOILET_COUNT" property="sellToiletCount"/>
 		<result column="SELL_WAY" property="sellWay"/>
 		<result column="SELL_HOUSEHOLD" property="sellHousehold"/>
 		<result column="SELL_ENTRANCE" property="sellEntrance"/>
 		<result column="SELL_MOVE_DATE" property="sellMoveDatetime"/>
 		<result column="SELL_INSTALLATION" property="sellInstallation"/>
 		<result column="SELL_AIRCONTITION" property="sellAircondition"/>
 		<result column="SELL_HEATING" property="sellHeating"/>
 		<result column="PARKING_COUNT" property="parkingCount"/>
 		<result column="SELL_APPROVAL_DATE" property="sellApprovalDatetime"/>
 		<result column="SELL_ENROLL_DATE" property="sellEnrollDatetime"/>
 		<result column="COMPLEX_APPLY_DATE" property="complexApplyDatetime"/>
 		<result column="WING_COUNT" property="wingCount"/>
 		<result column="HOUSEHOLD_COUNT" property="householdCount"/>
 		<result column="OPTION" property="option"/>
 		<result column="SECURITY" property="security"/>
 		<result column="CREADTE_DATE" property="createDate"/>
 		<result column="MODIRY_DATE" property="modifyDate"/>
 		<result column="ADDRESS" property="address"/>
 		<result column="FILE_PATH" property="filePath"/>
 		<collection property="imgList" javaType="java.util.ArrayList" ofType="attachment" select="selectImgList" column="SELL_NO"/>
 	</resultMap>
 	
 	<resultMap type="attachment" id="attachmentReustSet">
 		<result column="ATTACHMNET_NO" property="attachmentNo"/>
 		<result column="REF_SNO" property="refSno"/>
 		<result column="ORIGIN_FILE" property="originFile"/>
 		<result column="CHANGE_NAME" property="changeName"/>
 		<result column="FILE_PATH" property="filePath"/>
 		<result column="FILE_LEVEL" property="fileLevel"/>
  	</resultMap>
 	
 	<resultMap type="sellDetailApi" id="apiResultSet">
 		<result column="SIDO" property="sido"/>
 		<result column="SIGUNGU" property="sigungu"/>
 		<result column="EUPMYEON" property="eupmyeon"/>
 		<result column="KAPT_CODE" property="kaptCode"/>
 		<result column="KAPT_NAME" property="kaptName"/>
 		<result column="KAPT_TYPE" property="kaptType"/>
 		<result column="KAPT_ADDRESS" property="kaptAddress"/>
 		<result column="KAPT_APPROVAL_DATE" property="kaptApprovalDate"/>
 		<result column="KAPT_ENROLL_DATE" property="kaptEnrollDate"/>
 		<result column="KAPT_WING_COUNT" property="kaptWingCount"/>
 		<result column="KAPT_HOUSEHOLD" property="kaptHousehold"/>
 		<result column="MANAGEMENT" property="management"/>
 		<result column="KAPT_HEATING" property="kaptHeating"/>
 		<result column="KAPT_ENTRANCE" property="kaptEntrance"/>
 		<result column="KAPT_BUILD_COMPANY" property="kaptBuildCompany"/>
 		<result column="SECURITY_COUNT" property="securityCount"/>
 		<result column="SECURITY_COMPANY" property="securityCompany"/>
 		<result column="BUILD_STRUCTURE" property="buildStructure"/>
 		<result column="LIFT_COUNT" property="liftCount"/>
 		<result column="KAPT_PARKING_COUNT" property="kaptParkingCount"/>
 		<result column="CCTV_COUNT" property="cctvCount"/>
 		<result column="KAPT_SECURITY_ADDRESS" property="kaptSecurityAddress"/>
  		<result column="KAPT_ALL_FLOOR" property="kaptAllFloor"/>
 	</resultMap>
 	
 	<resultMap type="report" id="reportResultSet">
		<id column="REPORT_NO" property="reportNo"/>
		<result column="REF_RUNO" property="refRuno"/>
		<result column="REF_TUNO" property="refTuno"/>
		<result column="R_NAME" property="rName"/>
		<result column="T_NAME" property="tName"/>
		<result column="REPORT_CONTENT" property="reportContent"/>
		<result column="REPORT_STATUS" property="reportStatus"/>
		<result column="REPORT_RESULT" property="reportResult"/>
		<result column="REPORT_TYPE" property="reportType"/>
		<result column="REPORT_DATE" property="reportDate"/>
	</resultMap>
 	
 	<resultMap type="counsle" id="counsleReustSet">
 		<result column="COUNSLE_METHOD" property="counsleMethod"/>
 		<result column="COUNSLE_CONTENT" property="counsleContent"/>
 		<result column="APPLY_DATE" property="applyDate"/>
 		<result column="ACCEPT" property="accept"/>
 		<result column="REF_TUNO" property="refTuno"/>
 		<result column="REF_UNO" property="refUno"/>
 		<result column="SELL_NO" property="sellNo"/>
 		<result column="USER_NAME" property="userName"/>
 		<result column="SELL_NAME" property="sellName"/>
  	</resultMap>
 	
	<insert id="sellInsert" useGeneratedKeys="true" parameterType="sellDetail" keyProperty="sellNo">
		INSERT INTO SELLDETAIL
		(SELL_NO, REF_UNO, SELL_NAME, SELL_ADDRESS, SELL_PRICE, SELL_MAINTENANCE, SELL_PARKING, SELL_SHORTTERM,SELL_TYPE, SELL_FLOOR,
		 SELL_PRIVATE_AREA, SELL_PROVIDE_AREA, SELL_ALL_FLOOR, SELL_ROOM_COUNT,SELL_TOILET_COUNT, SELL_WAY, SELL_HOUSEHOLD,SELL_ENTRANCE, SELL_MOVE_DATE, SELL_BULDTYPE,
		SELL_INSTALLATION, SELL_AIRCONDITION, SELL_HEATING, PARKING_COUNT, SELL_APPROVAL_DATE,
		SELL_ENROLL_DATE, COMPLEX_APPLY_DATE, WING_COUNT, HOUSEHOLD_COUNT, `OPTION`, SECURITY,

		CREATE_DATE, STATUS)

		VALUES (SELL_NO, #{refUno},#{sellName}, #{sellAddress}, #{sellPrice}, #{sellMaintenance}, #{sellParking}, #{sellShortterm},
				#{sellType}, #{sellFloor},#{sellPrivateArea}, #{sellProvideArea}, #{sellAllFloor}, #{sellRoomCount}, #{sellToiletCount},
				#{sellWay}, #{sellHousehold}, #{sellEntrance}, #{sellMoveDatetime}, #{sellBuldtype}, #{sellInstallation}, #{sellAircondition},
				#{sellHeating}, #{parkingCount}, #{sellApprovalDatetime}, #{sellEnrollDatetime}, #{complexApplyDatetime}, #{wingCount}, #{householdCount},

				#{option}, #{security}, SYSDATE(), 'Y')


	</insert>
	

	<insert id="sellInsertImg" parameterType="list" useGeneratedKeys="true" keyProperty="attachmentNo">
		INSERT INTO ATTACHMENT (REF_SNO, ORIGIN_FILE, CHANGE_NAME, FILE_PATH, FILE_LEVEL)
		SELECT C.*
		FROM   (<foreach collection="list" item="at" separator="UNION ALL">
					SELECT #{at.refSno}, #{at.originFile}, #{at.changeName}, #{at.filePath}, #{at.fileLevel}
			   </foreach>) AS C
	</insert>
	
	<select id="selectSellList" resultMap="sellResultSet" >
		SELECT SELL_NO, REF_UNO,SELL_NAME,SELL_TYPE, CREATE_DATE
		FROM SELLDETAIL S
		JOIN MEMBER ON(USER_NO = REF_UNO)
		WHERE USER_NO = #{refUno} AND S.STATUS='Y'
	</select>
	
	<select id="sellDetail" resultMap="sellDetailResultSet">
		SELECT *, USER_NAME
		FROM SELLDETAIL S
		JOIN MEMBER ON(USER_NO = REF_UNO)
		WHERE SELL_NO = #{sellNo} AND S.STATUS='Y'
	</select>
 	
 	<select id="selectImgList" resultMap="attachmentReustSet">
 		SELECT ATTACHMENT_NO, REF_SNO, ORIGIN_FILE, CHANGE_NAME, FILE_PATH, FILE_LEVEL
		FROM ATTACHMENT
		WHERE REF_SNO = #{sellNo}
		ORDER BY FILE_LEVEL
 	</select>
 	
 	<select id="selectSellAllList" resultMap="sellDetailResultSet">
 		SELECT S.*, M.ADDRESS
 		FROM SELLDETAIL S
 		JOIN MEMBER M ON(REF_UNO = USER_NO)
 		WHERE S.STATUS = 'Y'
 	</select>

	<insert id="insertReport" parameterType="report">
		INSERT INTO REPORT (REF_RUNO, REF_TUNO, REPORT_CONTENT, REPORT_STATUS, REPORT_TYPE, REPORT_DATE)
		VALUES(#{refRuno}, #{refTuno}, #{reportContent}, 'N', #{reportType}, SYSDATE())
	</insert>
	
	<select id="selectApiList" resultMap="apiResultSet" parameterType="sellDetailApi">
		SELECT *
		FROM API2
		WHERE KAPT_ADDRESS LIKE CONCAT(CONCAT('%',#{kaptAddress}),'%') AND KAPT_NAME LIKE CONCAT(CONCAT('%',#{kaptName}),'%')
	</select>


	<insert id="insertCounsle" parameterType="counsle">
		INSERT INTO COUNSLE
		VALUES(#{counsleMethod}, #{counsleContent}, SYSDATE(), 'N', #{refTuno}, #{refUno}, #{sellNo})
	</insert>
	
	<insert id="insertUserSelect" parameterType="HashMap">
		INSERT INTO USERSELECT_LIST 
		VALUES (#{userNo}, #{sellNo})
	</insert>
	
	<delete id="deleteUserSelect" parameterType="HashMap">
		DELETE FROM USERSELECT_LIST WHERE USER_NO = #{userNo} AND SELL_NO = #{sellNo}
	</delete>

	<select id="selectCounsel" resultMap="counsleReustSet">
		SELECT C.*, S.SELL_NAME, M.USER_NAME
		FROM COUNSLE C
		JOIN MEMBER M ON (M.USER_NO = C.REF_UNO) 
		JOIN SELLDETAIL S ON(S.SELL_NO = C.SELL_NO)
		WHERE REF_TNO =#{refTno} AND S.STATUS ='Y'
	</select>
	
	<select id="findkaptCode" resultMap="apiResultSet">
		SELECT KAPT_CODE
		FROM API2
		WHERE KAPT_ADDRESS LIKE CONCAT(CONCAT('%',#{kaptAddress}),'%') AND KAPT_NAME LIKE CONCAT(CONCAT('%',#{kaptName}),'%')
	</select>
	
	<update id="deleteSell" parameterType="_int">
		UPDATE SELLDETAIL
		SET STATUS='N'
		WHERE SELL_NO = #{sellNo} AND REF_UNO=#{userNo}
	</update>
	
	

	<select id="selectSellList2" resultMap="sellDetailResultSet">
		SELECT SELL_NO, SELL_NAME, SELL_ADDRESS, SELL_PRICE, SELL_FLOOR, CHANGE_NAME AS FILE_PATH
		FROM SELLDETAIL SD
		LEFT JOIN ATTACHMENT AT ON (SELL_NO = REF_SNO)
		WHERE SELL_NO = #{sellNo} AND SD.STATUS = 'Y'
		AND (AT.FILE_LEVEL = 0 OR AT.FILE_LEVEL IS NULL) 
		ORDER BY SELL_NO DESC
	</select>

	<select id="countUserSelect" parameterType="HashMap" resultType="_int">
		SELECT COUNT(*) FROM USERSELECT_LIST
		WHERE USER_NO = #{userNo} AND SELL_NO = #{sellNo} 
	</select>

</mapper>
