<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sell-mapper">
 
	<insert id="sellInsert" useGeneratedKeys="true" parameterType="sellDetail">
		<selectKey keyProperty="sellNo" resultType="_int" order="BEFORE">
			SELECE SELL_NO FROM DUAL
		</selectKey>
		
		INSERT INTO SELLDETAIL
		VALUES (1, 1,#{sellName}, #{sellAddress}, #{sellPrice}, #{sellMaintenance}, #{sellParking},#{shortterm},
				#{sellType}, #{sellPrivateArea}, #{sellProvideArea},#{sellFloor}, #{sellAllFloor},#{sellRoomCount},#{sellToletCount}, #{sellWay}, #{sellHouseHolde},
				#{sellEntrance}, #{sellMoveDate}, #{sellMoveDate}, #{sellBuildtype}, #{sellInstallation}, #{sellAircondition},#{sellHeating},#{parkingCount}, #{sellApprovalDate},
				#{sellEnrollDate}, #{complexApplyDate}, #{wingCount}, #{hoseholdCount}, #{option},#{security} )
	</insert>
	
	<insert id="sellInsertImg" parameterType="list">
		INSERT INTO ATTACHMENT
		SELECT ATTACHMENT_NO.NEXTVAL AS IMG_NO, C.*
		FROM(
				<foreach collection="list" item="img" separator="UNION ALL">
					SELECT #{img.originFile} as ORIGIN_File,
						   #{img.changeName} as CHANGE_NAME,
						   #{img.refSno} as REF_SNO
						   #{img.fileLevel} as FILE_LEVEL
						   
				    FROM DUAL
				</foreach>
			)C
	</insert>
 
</mapper>
