@charset "UTF-8";

.content-title>h1 {
	margin-bottom:50px;
}

.content-title button {
	width: 200px;
	margin: 20px;
	border-radius: 8px;
	border: none;
	background-color: #3A57E8;
	color: #FFFFFF;
}

.content-table {
	display:flex;
	flex-flow: column;
	gap: 150px;
}

#pagingArea {
	width: fit-content;
	margin: auto;
}

.content-noticeBoardNo{
	width:100px;
	height: 60px;
	font-size: 20px;
}

.content-noticeBoardTitle {
	width: 1450px;
	height: 60px;
	margin-bottom : 30px;
	font-size: 20px;
}