@charset "UTF-8";
.content-section {
	width: 1000px;
	height: 1100px;
	padding: 25px;
   	position: absolute;
   	top: 30px;
   	left : 30px;
   	border-radius: 10px;
   	background-color: #FFFFFF;
   	box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
}

.content-side {
	width: 400px;
	height: 1100px;
	padding: 25px;
   	position: absolute;
   	top: 30px;
   	left : 1080px;
   	border-radius: 10px;
   	box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
}

.content-bk-title {
	display:flex;
	justify-content:space-between;
	padding-right:200px;
	margin:20px;
	text-align: center;
	align-items : center;
}

#bk-img-slick {
	width:600px;
	height:700px;
	margin:auto;
}

.bk-images {
	width:500px;
	height:700px;
	background-size:contain;
	background-repeat: no-repeat;
}

.slick-next:before, .slick-prev:before {
	color:blue;
}	

.bk-info-1 {
	display:grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 15px;
	column-gap: 20px;
	padding: 10px 0 10px 0;
}

.bk-info-1>p {
	margin:0;
}

.bk-user-list {
	width: 350px;
	height: 100px;
	padding: 25px;
   	border-radius: 10px;
   	background-color: #FFFFFF;
   	box-shadow: 0px 10px 13px rgba(17, 38, 146, 0.05);
   	cursor:pointer;
}